<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649411725532-uouacq8dr57m9uu63hmugupjs9sd0tjl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649411725532-uouacq8dr57m9uu63hmugupjs9sd0tjl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>649411725532-ksm68emtc5gks3i62bhc30ajtovpt77h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2FMOx63MBr1iy-mSpY6c7MKxDcDV4nWY</string>
	<key>GCM_SENDER_ID</key>
	<string>649411725532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gospel-crowd.salon-member</string>
	<key>PROJECT_ID</key>
	<string>gospel-corwd-creator</string>
	<key>STORAGE_BUCKET</key>
	<string>gospel-corwd-creator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649411725532:ios:aa19fb38e50d40f8454c19</string>
</dict>
</plist>